* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #000;
    overflow: hidden;
}

#copyright {
    bottom: 50px;
    right: 0.5vw;
    position: absolute;
    overflow: hidden;
    width:auto;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image {
    position: absolute;
    overflow: hidden;
    width:auto;
    zoom:75%;
}

#background{
    position: absolute;
    overflow: hidden;
    width:auto;
    height: 100%;
}

@keyframes float {
    10%    {transform: translate(-3vw, -2vh);}
    20%    {transform: translate(-3vw, 5vh);}
    30%    {transform: translate(0vw, 3vh);}
    40%    {transform: translate(-1vw, -4vh);}
    50%    {transform: translate(-3vw, 0vh);}
    60%    {transform: translate(-5vw, 5vh);}
    70%    {transform: translate(-5vw, 0vh);}
    80%    {transform: translate(-5vw, 3vh);}
    90%    {transform: translate(1vw, 2vh);}
    100%   {transform: translate(0vw, 0vh);}
}

#kat {
    top: 10vh;
    left: 8vw;
    animation-timing-function: ease-in-out;
    animation: float 59s infinite;
    animation-delay: -43s;
}

#raven {
    top: 10vh;
    right: 8vw;
    animation-timing-function: ease-in-out;
    animation: float 61s infinite;
    animation-delay: -41s;
}